@font-face {
    font-family: 'baddogregular';
    src: url('baddog.eot');
    src: url('baddog.eot?#iefix') format('embedded-opentype'),
         url('baddog.woff2') format('woff2'),
         url('baddog.woff') format('woff'),
         url('baddog.ttf') format('truetype'),
         url('baddog.svg#baddogregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bankir-retroregular';
    src: url('bankir-retro.eot');
    src: url('bankir-retro.eot?#iefix') format('embedded-opentype'),
         url('bankir-retro.woff2') format('woff2'),
         url('bankir-retro.woff') format('woff'),
         url('bankir-retro.ttf') format('truetype'),
         url('bankir-retro.svg#bankir-retroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'earwig_factoryregular';
    src: url('earwigfa.eot');
    src: url('earwigfa.eot?#iefix') format('embedded-opentype'),
         url('earwigfa.woff2') format('woff2'),
         url('earwigfa.woff') format('woff'),
         url('earwigfa.ttf') format('truetype'),
         url('earwigfa.svg#earwig_factoryregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
