@font-face {
    font-family: 'baddogregular';
    src: url('../fonts/fontface/baddog.eot');
    src: url('../fonts/fontface/baddog.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontface/baddog.woff2') format('woff2'),
         url('../fonts/fontface/baddog.woff') format('woff'),
         url('../fonts/fontface/baddog.ttf') format('truetype'),
         url('../fonts/fontface/baddog.svg#baddogregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bankir-retroregular';
    src: url('../fonts/fontface/bankir-retro.eot');
    src: url('../fonts/fontface/bankir-retro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontface/bankir-retro.woff2') format('woff2'),
         url('../fonts/fontface/bankir-retro.woff') format('woff'),
         url('../fonts/fontface/bankir-retro.ttf') format('truetype'),
         url('../fonts/fontface/bankir-retro.svg#bankir-retroregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'earwig_factoryregular';
    src: url('../fonts/fontface/earwigfa.eot');
    src: url('../fonts/fontface/earwigfa.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontface/earwigfa.woff2') format('woff2'),
         url('../fonts/fontface/earwigfa.woff') format('woff'),
         url('../fonts/fontface/earwigfa.ttf') format('truetype'),
         url('../fonts/fontface/earwigfa.svg#earwig_factoryregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
