.centralizar {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html {
  min-height: 100%;
  position: relative;
}
html body.body-painel-login {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}
html body.body-painel-login .main-painel-login {
  background: rgba(51, 51, 51, 0.15);
  overflow: hidden;
  min-height: 100%;
}
html body.body-painel-login .main-painel-login .login {
  background: #fff;
  display: block;
  margin: 50px auto 0 auto;
  width: 400px;
  border: 2px #ccc solid;
  padding: 15px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}
html body.body-painel-login .main-painel-login .login h3 {
  margin-top: 0;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px #ccc solid;
}
html body.body-painel-login .main-painel-login .login .input-group {
  margin-bottom: 15px;
}
html body.body-painel-login .main-painel-login .login .submit-placeholder {
  height: 34px;
}
html body.body-painel-login .main-painel-login .login .submit-placeholder input[type="submit"] {
  float: right;
}
html body.body-painel-login .main-painel-login .login .submit-placeholder input[type="checkbox"] {
  vertical-align: -2px;
}
html body.body-painel-login .main-painel-login .login .submit-placeholder label {
  font-weight: normal;
}
html body.body-painel .container-fluid.padded-bottom {
  padding-bottom: 50px;
  min-height: 500px;
}
html body.body-painel footer {
  border-top: 1px #ccc solid;
  padding-top: 20px;
}
html body.body-painel table {
  margin: 30px 0;
}
html body.body-painel table .crud-actions {
  width: 131px;
}
html body.body-painel table .crud-actions form {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body.body-painel table .crud-actions.visualizar {
  width: 180px;
}
html body.body-painel table .move-actions {
  width: 74px;
}
html body.body-painel .add .pad {
  padding: 20px 0px;
  max-width: 600px;
}
html body.body-painel .circulo-pequeno-hover {
  background: transparent;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: table-cell;
  vertical-align: middle;
  transition: all 0.3s ease-in;
}
html body.body-painel .circulo-pequeno-hover img {
  max-width: 25px;
  display: block;
  margin: auto;
}
html body.body-painel em {
  font-style: italic;
}
html body #listaImagens {
  margin: 20px 0;
  font-size: 0;
}
html body #listaImagens .projetoImagem {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  transition: opacity, 0.3s, ease-in;
  max-width: 200px;
  width: 20%;
  margin: 0 5% 5% 0;
  box-sizing: border-box;
  position: relative;
  cursor: move;
}
html body #listaImagens .projetoImagem img {
  max-width: 100%;
  display: block;
}
html body #listaImagens .projetoImagem a.btn-remover {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
html body #listaImagens .projetoImagem a.btn-remover strong {
  transition: all 0.3s ease-in;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 0;
  overflow: hidden;
}
html body #listaImagens .projetoImagem a.btn-remover:hover strong {
  width: 100px;
}
html body #listaImagens .projetoImagem a.btn-descricao {
  position: absolute;
  top: 5px;
  left: 5px;
}
html body #listaImagens .projetoImagem textarea {
  position: absolute;
  top: 36px;
  left: 5px;
  max-width: 190px;
  width: 100%;
  height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  resize: none;
  border: none;
  box-sizing: border-box;
  color: #444;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  transition: all 0.3s ease-in;
}
html body #listaImagens .projetoImagem textarea.visivel {
  border: 1px #444 solid;
  height: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
}
html body #listaImagens .imagem-placeholder {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 196px;
  height: 196px;
  margin: 0 10px 10px 0;
  position: relative;
  border: 2px #E1E1E8 dotted;
  background: #F7F7F9;
}
html body .multiUpload {
  max-width: 600px;
  width: 100%;
  margin: 10px auto;
  border: 3px #CCC dashed;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
}
html body .multiUpload p {
  text-align: center;
}
html body .multiUpload input {
  margin: 5px auto;
}
html body .multiUpload #icone {
  margin: 20px;
  position: relative;
}
html body .multiUpload #icone span {
  color: #AAA;
  font-size: 50px;
  transition: all 0.3s ease-in;
}
html body .multiUpload #icone span.glyphicon-refresh {
  opacity: 0;
  display: none;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 3000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 3000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}
html body .multiUpload-Videos {
  max-width: 600px;
  width: 100%;
  margin: 10px auto;
  border: 3px #CCC dashed;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
}
html body .multiUpload-Videos p {
  text-align: center;
  margin-top: 10px;
}
html body .textarea-simples {
  height: 120px;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
