@import 'vars.less';

body{
  background: #000;
  font-size: 0;
  .conteudo{
    .centralizar;
    width: 100%;
    overflow: hidden;
    position: relative;
    &.internas{
      background: @cinza;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      h1{
        .earwig(40px);
        color: @laranja;
        line-height: 160%;
      }
    }
    @media @small{
      max-width: 440px;
    }
    @media @medium{
      max-width: 750px;
    }
    @media @large{
      max-width: 1100px;
      min-height: 1100px;
    }
    nav{
      .inline;
      background: @cinza;
      width: 18%;
      box-sizing: border-box;
      border-right: 1px @laranja solid;
      border-bottom: 1px @laranja solid;
      min-height: 570px;
      transition: left .1s ease-in;
      @media @medium{
        width: 25%;
      }
      @media @small{
        width: 100%;
        z-index: 99;
        text-align: center;
        border-right: none;
        left: 0;
        position: absolute;
        &.fechado{
          left: -100%;
        }
      }
      &.internas{
        display: block;
        border-right: none;
        border-bottom: none;
      }
      #link-home{
        padding: 27px 0 30px 0;
        max-width: 80%;
        width: 100%;
        display: block;
        margin: 0 auto;
        img{
          max-width: 100%;
        }
      }
      ul{
        display: block;
        width: 100%;
        li{
          display: block;
          width: 100%;
          margin-bottom: 1px;
          a{
            color: #fff;
            background: #000;
            width: 100%;
            text-align: center;
            min-height: 24px;
            line-height: 24px;
            transition: all .3s ease-in;
            display: block;
            .baddog(20px);
            &:active, &:visited{color:#fff;}
            &:hover, &.ativo{
              background: @laranja;
            }
            &.menu-item-home{
              max-width: 100px;
              margin-left: 20%;
            }
            &.menu-item-a-companhia{
              max-width: 120px;
              margin-left: 30%;
            }
            &.menu-item-agenda{
              max-width: 80px;
              margin-left: 9%;
            }
            &.menu-item-espetaculos{
              max-width: 110px;
              margin-left: 26%;
            }
            &.menu-item-cursos-e-oficinas{
              max-width: 165px;
              margin-left: 4%;
            }
            &.menu-item-eventos{
              max-width: 85px;
              margin-left: 16%;
            }
            &.menu-item-centro-de-estudos{
              max-width: 150px;
              margin-left: 10%;
            }
            &.menu-item-contacao-de-historias{
              max-width: 185px;
              margin-left: 1%;
            }
            &.menu-item-contratacoes{
              max-width: 130px;
              margin-left: 10%;
            }
            &.menu-item-galeria-de-fotos{
              max-width: 150px;
              margin-left: 5%;
            }
            &.menu-item-videos{
              max-width: 78px;
              margin-left: 12%;
            }
            &.menu-item-noticias{
              max-width: 98px;
              margin-left: 19%;
            }
            &.menu-item-criticas-e-materias{
              max-width: 170px;
              margin-left: 5%;
            }
            &.menu-item-fale-conosco{
              max-width: 115px;
              margin-left: 21%;
            }
            position: relative;
            &:hover:after{
              @media @large{
                position: absolute;
                left:70%;
                bottom:50%;
                content:"";
                width: 90px;
                height: 57px;
                background: url('../img/layout/menu-passaro.png') center center no-repeat;
              }
            }
            @media @small{
              &.menu-item-home,
              &.menu-item-a-companhia,
              &.menu-item-agenda,
              &.menu-item-espetaculos,
              &.menu-item-cursos-e-oficinas,
              &.menu-item-eventos,
              &.menu-item-centro-de-estudos,
              &.menu-item-contacao-de-historias,
              &.menu-item-contratacoes,
              &.menu-item-galeria-de-fotos,
              &.menu-item-videos,
              &.menu-item-noticias,
              &.menu-item-criticas-e-materias,
              &.menu-item-fale-conosco{
                margin: 0  auto !important;
              }
            }
          }
        }
      }
      .links-idiomas{
        margin: 10px 0;
        text-align: center;
        a{
          img{
            margin: 0 2px;
          }
        }
        @media @small{
          display: none;
        }
      }
    }
    #controle-menu-mobile{
      display: none;
      @media @small{
        display: block;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px @laranja solid;
        padding: 10px;
        background: @cinza;
        .link-home-mobile{
          width: 30%;
          .inline;
          img{
            max-width: 100%;
          }
        }
        .contato-e-controle{
          width: 70%;
          box-sizing: border-box;
          padding-left: 15px;
          .inline;
          small{
            .verdana(10px);
            color: #fff;
          }
          p{
            margin: 5px 0;
            line-height: 130%;
            .verdana(12px, bold);
            color: #fff;
          }
          #menu-toggle{
            .inline;
            height: 22px;
            line-height: 22px;
            padding:3px 13px;
            color: #fff;
            .baddog(22px);
            text-transform: uppercase;
            background: @laranja;
          }
        }
      }
    }
    #imagem-home{
      .inline;
      width: 33%;
      background-size: cover;
      box-sizing: border-box;
      border-right: 1px @laranja solid;
      border-bottom: 1px @laranja solid;
      height: 570px;
      max-height:100%;
      position: relative;
      a{
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 10px;
        width: 60%;
        background: rgba(245,134,52,.6);
        color: #fff;
        text-align: center;
        line-height: 125%;
        text-transform: uppercase;
        transition: background .3s ease-in;
        .baddog(30px);
        &:hover{
          background: rgba(245,134,52,1);
        }
      }
      @media @medium{
        width: 75%;
      }
      @media @small{
        width: 100%;
        height: auto;
        a{
          position: relative;
          left: 0;
          top: 0;
          display: block;
          width: 100%;
          transform: none;
        }
      }
    }
    #espacamento-home-medium{
      display:none;
      @media @medium{
        .inline;
        height: 570px;
        width: 25%;
        box-sizing: border-box;
        background: @cinza;
        border-right:1px @laranja solid;
      }
    }
    #menu-espetaculos{
      .inline;
      width: 49%;
      height: 570px;
      @media @small{
        height: auto;
        margin-bottom: 20px;
      }
      box-sizing: border-box;
      background: url('../img/layout/bg-espetaculos-home.png') @cinza center center no-repeat;
      background-size: cover;
      border-bottom: 1px @laranja solid;
      max-height:100%;
      position: relative;
      @media @medium{
        width: 75%;
        border-right: 1px @laranja solid;
      }
      @media @small{
        width: 100%;
      }
      h1{
        width: 100%;
        display: block;
        color: @laranja;
        height: 90px;
        line-height: 130px;
        overflow: hidden;
        text-indent: 16px;
        .earwig(40px);
        @media @small{
          height: 60px;
          line-height: 130%;
        }
      }
      ul{
        padding:5px;
        li{
          a{
            padding: 0 10px;
            height: 25px;
            line-height: 25px;
            color: #fff;
            background: transparent;
            transition: all .3s ease-in;
            .bankir(16px);
            &:active, &:visited{
              color: #fff;
            }
            &:hover{
              background: @laranja;
            }
          }
        }
      }
      #capas-espetaculos{
        position: absolute;
        right: 0;
        top: 55px;
        width: 260px;
        height: 390px;
        padding-top: 45px;
        padding-bottom: 23px;
        padding-left: 15px;
        background: url('../img/layout/bg-foto-espetaculos-home.png') center center no-repeat;
        @media @small{
          display: none;
        }
      }
    }
    #destaques-e-midia{
      .inline;
      width: 60%;
      @media @medium{
        width: 100%;
      }
      @media @small{
        width: 100%;
      }
      .lista-destaques{
        box-sizing: border-box;
        padding: 15px 20px 15px 25px;
        background: @laranja;
        position: relative;
        &:after{
          display: block;
          content: "";
          border-top: 30px solid transparent;
          border-right: 30px #000 solid;
          position: absolute;
          bottom: 0;
          right: 0;
        }
        h1{
          .earwig(30px);
          color: #fff;
          margin-bottom: 10px;
        }
        .destaque{
          .inline;
          width: 50%;
          box-sizing: border-box;
          padding-right: 30px;
          @media @small{
            width: 100%;
            margin-bottom: 15px;
          }
          .verdana(12px);
          line-height: 130%;
          strong{
            display: block;
            font-weight: bold;
          }
          .ver-mais{
            transition: color .3s ease-in;
            margin-top: 10px;
            color: #fff;
            .baddog(18px);
          }
          &:hover .ver-mais{color:#000;}
        }
      }
      .lista-videos{
        padding-top: 15px;
        padding-left: 25px;
        margin-bottom: 20px;
        @media @small{ display:none; }
        h1{
          display: block;
          color: @laranja;
          .earwig(40px);
          position: relative;
          &:after{
            display: block;
            content: "";
            height: 1px;
            background: @laranja;
            width: 100%;
            position: absolute;
            z-index:0;
            left: 0;
            top: 50%;
          }
          span{
            padding-right: 5px;
            background: #000;
            position: relative;
            z-index:1;
          }
          a{
            margin-top: 6px;
            position: relative;
            z-index:1;
            float: right;
            padding: 0 20px;
            height: 30px;
            line-height: 30px;
            color: @cinza;
            background: @laranja;
            position: relative;
            .baddog(22px);
            &:after{
              display: block;
              content: "";
              border-bottom: 10px solid transparent;
              border-right: 10px #000 solid;
              position: absolute;
              top: 0;
              right: 0;
            }
            transition: color .3s ease-in;
            &:hover{color:#fff;}
          }
        }
        .video{
          .inline;
          width: 33.333%;
          margin: 10px 0;
          color:#fff;
          box-sizing: border-box;
          padding: 0 0 0 5px;
          text-transform: uppercase;
          transition: color .3s ease-in;
          .verdana(12px, bold);
          img{
            border: 2px @laranja solid;
            display: block;
            max-width: 98%;
            width: 100%;
            margin: 0 auto 12px auto;
          }
          &:hover{
            color: @laranja;
          }
        }
      }
      .lista-galerias{
        padding-top: 15px;
        padding-left: 25px;
        margin-bottom: 20px;
        @media @small{ display:none; }
        h1{
          display: block;
          color: @laranja;
          .earwig(40px);
          position: relative;
          &:after{
            display: block;
            content: "";
            height: 1px;
            background: @laranja;
            width: 100%;
            position: absolute;
            z-index:0;
            left: 0;
            top: 50%;
          }
          span{
            padding-right: 5px;
            background: #000;
            position: relative;
            z-index:1;
          }
          a{
            margin-top: 6px;
            position: relative;
            z-index:1;
            float: right;
            padding: 0 20px;
            height: 30px;
            line-height: 30px;
            color: @cinza;
            background: @laranja;
            position: relative;
            .baddog(22px);
            &:after{
              display: block;
              content: "";
              border-bottom: 10px solid transparent;
              border-right: 10px #000 solid;
              position: absolute;
              top: 0;
              right: 0;
            }
            transition: color .3s ease-in;
            &:hover{color:#fff;}
          }
        }
        .imagem{
          .inline;
          width: 33.333%;
          margin: 10px 0;
          color:#fff;
          box-sizing: border-box;
          padding: 0 0 0 5px;
          text-transform: uppercase;
          transition: color .3s ease-in;
          .verdana(12px, bold);
          img{
            border: 2px @laranja solid;
            display: block;
            max-width: 98%;
            width: 100%;
            margin: 0 auto 12px auto;
          }
          &:hover{
            color: @laranja;
          }
        }
      }
    }
    #agenda{
      .inline;
      width: 40%;
      box-sizing: border-box;
      padding: 15px;
      @media @medium{
        width: 60%;
        display:block;
        margin: 0 auto;
      }
      @media @small{
        width: 100%;
        display:block;
        margin: 0 auto;
      }
      .fundo-agenda{
        background: url('../img/layout/caderno-agenda.png') center center no-repeat;
        background-size: cover;
        min-height: 580px;
        padding-bottom: 20px;
        h1{
          color: @laranja;
          .earwig(45px);
          padding: 80px 0 0 25px;
        }
        p{
          color: @cinza;
          .baddog(18px);
          padding: 10px 0 10px 25px;
        }
        ul{
          display: block;
          padding-left: 25px;
          li.agenda{
            margin: 0 0 15px 0;
            display: block;
            .data{
              .inline;
              width: 20%;
              background: @laranja;
              padding: 5px 0;
              text-align: center;
              .verdana(12px, bold);
              .dia, .mes, .ano{
                display: block;
                line-height: 130%;
              }
              .dia{ font-size: 20px; }
              .mes{ font-size: 18px; text-transform: lowercase; }
              .ano{ font-size: 10px; }
            }
            .info{
              .inline;
              width: 80%;
              box-sizing: border-box;
              padding: 0 0 0 15px;
              .verdana(12px);
              .horarios{
                font-weight: bold;
                line-height: 140%;
              }
              .texto{
                line-height: 160%;
              }
              .espetaculo{
                span{font-style: italic;}
                strong{font-weight: bold;}
              }
            }
          }
          li.vazio{
            margin: 30px 0;
            text-align: center;
            .verdana(16px, bold);
          }
        }
        .link-agenda{
          .disclaimer{
            .inline;
            box-sizing: border-box;
            padding-left: 15px;
            width: 50%;
            vertical-align: bottom;
            color: @cinza;
            .verdana(11px);
          }
          a{
            position: relative;
            right: -15px;
            .inline;
            width: 50%;
            box-sizing: border-box;
            vertical-align: bottom;
            color: #fff;
            background: @laranja;
            padding: 0 15px;
            position:relative;
            height: 30px;
            line-height: 30px;
            .baddog(18px);
            transition: color .3s ease-in;
            &:after{
              display: block;
              content: "";
              border-bottom: 10px solid transparent;
              border-right: 10px #000 solid;
              position: absolute;
              top: 0;
              right: 0;
            }
            &:hover{
              color: #000;
            }
          }
        }
        .link-contato{
          width: 93%;
          box-sizing: border-box;
          padding: 12px 10px;
          display: block;
          margin: 15px auto 0 auto;
          background: url('../img/layout/pin-postit.png') #00CCFF 96% 5px no-repeat;
          color: #373435;
          p{
            transition: color .3s ease-in;
          }
          .link-contato-titulo{
            padding: 2px 0;
            .baddog(30px);
          }
          .link-contato-subtitulo{
            padding: 1px 0;
            .baddog(20px);
          }
          &:hover p{
            color: #fff;
          }
        }
      }
    }
    #noticias-e-chamadas{
      border-top: 1px @laranja solid;
      border-bottom: 1px @laranja solid;
      padding: 15px;
      background: @cinza;
      h1{
        display: block;
        color: #fff;
        .earwig(40px);
        position: relative;
        &:after{
          display: block;
          content: "";
          height: 1px;
          background: #fff;
          width: 100%;
          position: absolute;
          z-index:0;
          left: 0;
          top: 50%;
        }
        span{
          padding-right: 5px;
          background: @cinza;
          position: relative;
          z-index:1;
        }
        a{
          margin-top: 6px;
          position: relative;
          z-index:1;
          float: right;
          padding: 0 20px;
          height: 30px;
          line-height: 30px;
          color: @cinza;
          background: #fff;
          position: relative;
          .baddog(22px);
          transition: color .3s ease-in;
          &:hover{color:#fff;}
          &:after{
            display: block;
            content: "";
            border-bottom: 10px solid transparent;
            border-right: 10px @cinza solid;
            position: absolute;
            top: 0;
            right: 0;
          }
          transition: color .3s ease-in;
          &:hover{color:@laranja;}
        }
      }
      .lista-noticias{
        a{
          .inline;
          min-height: 210px;
          width: 33%;
          @media @small{
            min-height: 90px;
            width: 100%;
          }
          box-sizing: border-box;
          padding: 0 5px;
          margin: 20px 0 40px 0;
          @media @small{
            margin: 15px 0;
          }
          .titulo{
            img{
              float:left;
              border:2px #fff solid;
              max-width: 25%;
              margin-right: 10px;
              transition:all .3s ease-in;
            }
            h2{
              color:#fff;
              .verdana(14px, bold);
              padding:8px 0 0 0;
              transition:color .3s ease-in;
            }
            .olho-mobile{
              display: none;
              @media @small{
                margin-top:10px;
                display: block;
                .verdana(12px);
                line-height: 140%;
                color:#fff;
              }
            }
          }
          .olho{
            padding-top: 10px;
            display: block;
            clear: both;
            .verdana(12px);
            line-height: 140%;
            color:#fff;
            transition:color .3s ease-in;
            @media @small{
              display:none;
            }
          }
          .ver-mais{
            margin-top: 40px;
            text-align: right;
            color: @laranja;
            .baddog(22px);
          }
          &:hover{
            .olho{
              color:@laranja;
            }
            .titulo{
              h2{ color: @laranja; }
              img{ border:2px @laranja solid; }
            }
          }
        }
      }
      .lista-chamadas{
        .chamada{
          .inline;
          width: 33%;
          @media @small{
            width: 100%;
          }
          box-sizing: border-box;
          padding: 0 5px;
          margin: 20px 0 0 0;
          a{
            padding: 15px 20px;
            display: block;
            background: @laranja;
            position:relative;
            &:after, &:before{
              display: block;
              content: "";
              position: absolute;
              top: 0;
              right: 0;
            }
            &:after{
              border-right: 15px @cinza solid;
              border-bottom: 15px solid transparent;
            }
            &:before{
              border-left: 15px @amarelo solid;
              border-top: 15px solid transparent;
            }
            .titulo{
              .bankir(20px);
              color: #fff;
              line-height: 160%;
            }
            .olho{
              color:@cinza;
              .verdana(12px);
              margin: 10px 0;
            }
            .ver-mais{
              text-align: right;
              color:#fff;
              transition: all .3s ease-in;
              .baddog(18px);
              @media @small{
                text-align: left;
              }
            }
            &:hover{
              .ver-mais{color:#000;}
            }
          }
        }
      }
    }
    #mensagens{
      padding:30px 0;
      .form{
        .inline;
        width: 30%;
        @media @small{
          width: 100%;
        }
        h1{
          .earwig(24px);
          color:@laranja;
          margin-left: 7%;
        }
        form{
          width:95%;
          margin-left: 5%;
          padding-top: 10px;
          input[type=text],
          input[type=email],
          textarea{
            display: block;
            width: 100%;
            background: @cinza;
            margin: 0 0 8px 0;
            padding: 3px 5px;
            box-sizing: border-box;
            height: 22px;
            color: @laranja;
            .verdana(12px);
            .placeholder(@laranja);
          }
          textarea{
            height: 90px;
            overflow: auto;
            resize: none;
          }
          input[type=submit]{
            margin-top:15px;
            display: block;
            width: 100%;
            line-height: 24px;
            .verdana(12px, bold);
            background: @laranja;
            color: @cinza;
            text-align: center;
            cursor:pointer;
            transition:all .3s ease-in;
            &:hover{
              color: #fff;
            }
          }
        }
        a{
          margin-top: 50px;
          float: right;
          @media @small{
            float: none;
            margin-top: 0;
            img{
              margin: 40px auto 0 auto;
              display: block;
            }
          }
        }
      }
      .lista-mensagens{
        .inline;
        width: 70%;
        @media @small{
          display: none;
        }
        h1{
          .baddog(30px);
          text-transform: uppercase;
          color:#fff;
          margin-left: 8%;
        }
        ul{
          margin-left: 8%;
          margin-top: 15px;
          width:90%;
          li{
            display: block;
            width: 100%;
            padding: 15px 0;
            border-top: 1px @laranja solid;
            &:last-child{border-bottom: 1px @laranja solid;}
            p{
              color:#fff;
              .verdana(11px);
              line-height: 130%;
              margin-bottom: 10px;
            }
            .assinatura{
              color:#fff;
              .verdana(10px, bold);
            }
          }
        }
      }
    }
    #coluna-texto{
      width: 60%;
      background:#000;
      box-sizing: border-box;
      padding: 40px 50px;
      border-right: 1px @laranja solid;
      border-left: 1px @laranja solid;
      @media @small{
        width:100%;
        padding: 20px 25px;
      }
      @media @medium{width:75%;}
      .contem-link-topo{
        border-top: 1px @laranja solid;
        padding-top: 15px;
        a{
          color:@laranja;
          transition: all .3s ease-in;
          .baddog(20px);
          &:active, &:visited{color:@laranja;}
          &:hover{color:#fff;}
          &.link-topo{
            float: right;
          }
        }
      }
      .desktop-hidden{
        display: none;
        @media @small{display:block;}
        @media @medium{display:block;}
      }
      h2{
        color:@laranja;
        line-height: 160%;
        margin: 40px 0 20px 0;
        .bankir(24px);
      }
      .link-oficina{
        .verdana(12px, bold);
        color: @laranja;
        display: block;
        margin: 15px 0;
        transition: color .3s ease-in;
        &:active, &:visited{color: @laranja;}
        &:hover{color:#fff;}
      }
    }
    #coluna-galerias{
      width: 22%;
      background:#000;
      box-sizing: border-box;
      padding: 40px 0;
      @media @small{display:none;}
      @media @medium{display:none;}
      .lista-mais-noticias{
        a{
          padding: 15px;
          display: block;
          .data{
            .verdana(12px);
            color:#fff;
            line-height: 140%;
            transition: color .3s ease-in;
          }
          .titulo{
            .bankir(16px);
            color:#fff;
            line-height: 160%;
            transition: color .3s ease-in;
          }
          &:hover{
            .data, .titulo{ color:@laranja; }
          }
        }
      }
      #texto-ficha-tecnica{
        position:relative;
        background: @laranja;
        padding: 15px 0 15px 10%;
        margin-top: 40px;
        h4{
          color:#fff;
          line-height: 150%;
          margin-bottom: 10px;
          .bankir(24px);
        }
        &:after, &:before{
          display: block;
          content: "";
          position: absolute;
          top: 0;
          right: 0;
        }
        &:after{
          border-right: 15px #000 solid;
          border-bottom: 15px solid transparent;
        }
        &:before{
          border-left: 15px @amarelo solid;
          border-top: 15px solid transparent;
        }
        p{
          .verdana(12px);
          color:#fff;
          line-height: 140%;
        }
      }
    }
    h3{
      height: 30px;
      line-height: 30px;
      background: @laranja;
      color: #fff;
      padding-left:10%;
      .baddog(24px);
      position: relative;
      &:after{
        display: block;
        content: "";
        border-bottom: 10px solid transparent;
        border-right: 10px #000 solid;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    #coluna-galerias .lista-imagens, #coluna-galerias .lista-videos,
    #coluna-texto .lista-imagens, #coluna-texto .lista-videos{
      padding: 10px 0 0 10%;
      @media @small{padding: 10px 0;}
      @media @medium{padding: 10px 0;}
      margin-bottom: 30px;
      a{
        display: none;
        .inline;
        margin:5px;
        border: 2px #fff solid;
        transition: all .3s ease-in;
        max-width: 40%;
        @media @small{max-width: 20%;}
        @media @medium{max-width: 20%;}
        img{
          max-width: 100%;
        }
        &:hover{
          border: 2px @laranja solid;
        }
      }
    }
    #coluna-agenda{
      width: 82%;
      @media @medium{
        width: 75%;
      }
      @media @small{
        width: 100%;
      }
      background:#000;
      box-sizing: border-box;
      padding: 40px 50px;
      border-right: 1px @laranja solid;
      border-left: 1px @laranja solid;
    }
    p.destaque{
      color:#fff;
      margin: 20px 0;
      .baddog(24px);
    }
    .lista-agenda-internas{
      .item-agenda{
        padding: 20px 0;
        border-bottom: 1px @laranja solid;
        &:last-child{
          border-bottom: none;
        }
        .data{
          .inline;
          width: 10%;
          background: @laranja;
          padding: 5px 0;
          text-align: center;
          .verdana(12px, bold);
          .dia, .mes, .ano{
            display: block;
            line-height: 130%;
          }
          .dia{ font-size: 20px; line-height: 80%; }
          .mes{ font-size: 18px; text-transform: lowercase; }
          .ano{ font-size: 10px; }
          @media @small{
            width: 100%;
            margin-bottom: 5px;
            .dia, .mes, .ano{ .inline; font-size: 20px; line-height: 130%; margin: 0 5px; }
          }
        }
        .capa{
          .inline;
          width: 15%;
          @media @small{
            width: 25%;
          }
          img{
            max-width: 100%;
          }
        }
        .info{
          .inline;
          width: 75%;
          box-sizing: border-box;
          padding: 0 0 0 15px;
          .verdana(12px);
          color:#fff;
          .horarios{
            font-weight: bold;
            line-height: 140%;
          }
          .texto{
            line-height: 160%;
          }
          .espetaculo{
            span{
              font-style: italic;
              .verdana(10px);
            }
            strong{
              display: block;
              color: @laranja;
              margin: 20px 0;
              .bankir(36px);
              @media @small{
                line-height: 140%;
                margin: 5px 0;
              }
            }
          }
        }
      }
    }
    .espetaculos-internas{
      .inline;
      width: 82%;
      @media @medium{
        width: 75%;
      }
      @media @small{
        width: 100%;
      }
      background:#000;
      box-sizing: border-box;
      #menu-espetaculos{
        width: 60%;
        background: #000;
        border-right: 1px @laranja solid;
        border-left: 1px @laranja solid;
        @media @medium{
          width: 100%;
          border: none;
        }
        @media @small{
          width: 100%;
          border: none;
        }
        #capas-espetaculos{
          top: 85px;
        }
      }
    }
    .coluna-esquerda-espetaculos{
      .inline;
      width: 15%;
      @media @medium{
        width: 100%;
      }
      @media @small{
        width: 100%;
      }
      p{
        padding: 20px 15px 0 0;
        color: @laranja;
        text-align: right;
        .baddog(16px);
        img{
          display: block;
          float: right;
          margin-top:4px;
        }
      }
      @media @medium{
        p{
          padding-left: 5%;
          text-align: left;
          br{display:none;}
          img{
            float:none;
            .inline;
          }
        }
      }
      @media @small{
        p{
          padding-left: 5%;
          text-align: left;
          br{display:none;}
          img{
            float:none;
            .inline;
          }
        }
      }
    }
    .espetaculos-internas-detalhes{
      padding: 40px 15px 40px 50px !important;

      .capa-espetaculo{
        float: right;
        width: 260px;
        height: 390px;
        margin-top: 20px;
        margin-right: -15px;
        padding-top: 45px;
        padding-bottom: 23px;
        padding-left: 15px;
        background: url('../img/layout/bg-foto-espetaculos-home.png') center center no-repeat;
      }
      .imprensa-comenta{
        padding: 20px 0;
        margin-top: 15px;
        border-top: 1px @laranja solid;
        border-bottom: 1px @laranja solid;
        h1{
          .baddog(24px);
          color: @laranja;
        }
        .comentario-imprensa{
          margin: 20px 0;
          p{
            .verdana(14px);
            color: #fff;
            line-height: 140%;
            &.autor{
              font-weight: bold;
            }
          }
        }

      }
    }
    .coluna-direita-espetaculos{
      width: 25%;
      .inline;
      padding-top: 20%;
      @media @medium{
        padding: 20px 0 60px 0;
        width: 100%;
      }
      @media @small{
        padding: 20px 0 60px 0;
        width: 100%;
      }
      .link-agenda{
        padding-left:10%;
        @media @medium{
          padding-left:15px;
        }
        @media @small{
          padding-left:15px;
        }
        h2{
          line-height: 140%;
          color: @laranja;
          .bankir(18px);
        }
        p{
          line-height: 140%;
          color:#fff;
          margin: 6px 0;
          .verdana(12px);
          &.destaque{
            color: @laranja;
            .baddog(16px);
          }
        }
        a{
          .baddog(22px);
          background: @laranja;
          padding: 0 15px;
          text-align: center;
          position: relative;
          color: #fff;
          transition: color .3s ease-in;
          &:after{
            display: block;
            content: "";
            border-bottom: 8px solid transparent;
            border-right: 8px #000 solid;
            position: absolute;
            top: 0;
            right: 0;
          }
          &:active, &:visited{color: #fff;}
          &:hover{color: #000;}
        }
      }
    }
    .lista-galerias{
      padding: 20px 0;
      .galeria{
        .inline;
        width: 25%;
        @media @medium{
          width:50%;
        }
        @media @small{
          width:100%;
        }
        box-sizing: border-box;
        padding: 0 10px;
        margin-bottom: 15px;
        a{
          display: block;
          img{
            max-width: 100%;
            border: 2px @laranja solid;
            margin-bottom: 10px;
            transition: all .3s ease-in;
          }
          p{
            transition: all .3s ease-in;
            color: @laranja;
            line-height: 150%;
            .bankir(18px);
          }
          &:hover{
            img{ border-color: #fff; }
            p{ color:#fff; }
          }
        }
      }
    }
    .lista-videos{
      padding: 20px 0;
      .video{
        .inline;
        width: 25%;
        @media @medium{
          width:50%;
        }
        @media @small{
          width:100%;
        }
        box-sizing: border-box;
        padding: 0 10px;
        margin-bottom: 15px;
        a{
          display: block;
          img{
            max-width: 100%;
            border: 2px @laranja solid;
            margin-bottom: 10px;
            transition: all .3s ease-in;
          }
          p{
            transition: all .3s ease-in;
            color: @laranja;
            line-height: 150%;
            .bankir(18px);
          }
          &:hover{
            img{ border-color: #fff; }
            p{ color:#fff; }
          }
        }
      }
    }
    #coluna-videos{
      width: 82%;
      @media @medium{
        width: 75%;
      }
      @media @small{
        width: 100%;
      }
      background:#000;
      box-sizing: border-box;
      padding: 40px 50px;
      border-right: 1px @laranja solid;
      border-left: 1px @laranja solid;
      h2{
        .bankir(24px);
        color: @laranja;
        line-height: 160%;
        margin: 20px 0;
      }
      iframe{
        border:2px @laranja solid;
        margin:15px 0;
      }
      .btn-voltar{
        margin-top: 30px;
        display: block;
        transition: all .3s ease-in;
        color:@laranja;
        .baddog(20px);
        &:active, &:visited{color:@laranja;}
        &:hover{color:#fff;}
      }
    }
    .lista-noticias-internas{
      margin: 20px 0;
      .noticia{
        display:block;
        margin-bottom: 20px;
        border-top:1px @laranja solid;
        a{
          display: block;
          transition: all .3s ease-in;
          img{
            width:15%;
            box-sizing: border-box;
            .inline;
            border:1px @laranja solid;
          }
          .info{
            width:85%;
            box-sizing: border-box;
            .inline;
            .data{
              .inline;
              background:@laranja;
              color: @cinza;
              .verdana(16px, bold);
              height: 25px;
              line-height: 25px;
              padding:0 10px;
            }
            .titulo{
              line-height: 160%;
              transition: all .3s ease-in;
              padding: 10px 0 0 13px;
              color:@laranja;
              .bankir(24px);
            }
            .olho{
              padding:5px 0 0 13px;
              .verdana(14px);
              color:#fff;
              line-height: 140%;
            }
          }
          &:hover{
            background:@laranja;
            .titulo{
              color:#fff;
            }
          }
        }
      }
    }
    .noticia-topo{
      display:block;
      margin-top: 20px;
      border-top:1px @laranja solid;
      img{
        width:25%;
        box-sizing: border-box;
        .inline;
        border:1px @laranja solid;
      }
      .info{
        width:75%;
        box-sizing: border-box;
        .inline;
        .data{
          .inline;
          background:@laranja;
          color: @cinza;
          .verdana(16px, bold);
          height: 25px;
          line-height: 25px;
          padding:0 10px;
        }
        .titulo{
          transition: all .3s ease-in;
          padding: 10px 0 0 13px;
          color:@laranja;
          line-height: 160%;
          .bankir(24px);
        }
        .olho{
          padding:5px 0 0 13px;
          .verdana(14px);
          color:#fff;
          line-height: 140%;
        }
      }
    }
    .contem-links-noticias{
      border-top:1px @laranja solid;
      padding-top: 15px;
      a{
        .baddog(20px);
        .inline;
        color:@laranja;
        &:active, &:visited{color:@laranja;}
        transition: all .3s ease-in;
        &:hover{color:#fff;}
        width:33%;
        &:nth-child(2){text-align: center;}
        &:nth-child(3){text-align: right;}
      }
    }
    .lista-criticas{
      margin: 20px 0;
      .critica{
        .inline;
        width: 25%;
        @media @medium{
          width:50%;
        }
        @media @small{
          width:100%;
        }
        margin-bottom: 30px;
        a{
          display: block;
          padding: 0 10px;
          img{
            max-width: 100%;
            border: 2px @laranja solid;
            margin-bottom: 10px;
            @media @small{
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
          }
          p{
            transition: all .3s ease-in;
            color:#fff;
            .bankir(14px);
            @media @small{
              text-align: center;
            }
          }
          &:hover{
            p{ color: @laranja; }
          }
        }
      }
    }
    .contato-info{
      width:38%;
      .inline;
      .verdana(16px);
      color: #fff;
      box-sizing: border-box;
      padding-top: 40px;
      line-height: 150%;
      a{
        font-weight: bold;
        color: #fff;
        display: block;
        margin-bottom: 15px;
        &:hover{
          text-decoration: underline;
        }
      }
      @media @medium{
        width: 100%;
      }
      @media @small{
        width: 100%;
      }
    }
    .contato-form{
      width:62%;
      .inline;
      box-sizing: border-box;
      padding:40px 10px 0 10px;
      @media @medium{
        width: 100%;
      }
      @media @small{
        width: 100%;
      }
      form{
        input[type=text],
        input[type=email],
        textarea{
          border: 1px @laranja solid;
          display: block;
          width: 100%;
          background: #000;
          margin: 0 0 8px 0;
          padding: 3px 5px;
          box-sizing: border-box;
          height: 22px;
          color: #fff;
          .verdana(14px);
        }
        textarea{
          height: 130px;
          overflow: auto;
          resize: none;
        }
        input[type=submit]{
          margin-top:5px;
          display: block;
          width: 100%;
          line-height: 24px;
          .verdana(12px, bold);
          background: #000;
          border: 1px @laranja solid;
          color: @laranja;
          text-align: center;
          cursor:pointer;
          transition:all .3s ease-in;
          &:hover{
            color: #fff;
            background:@laranja;
          }
        }
      }
    }
  }
  .cke{
    padding: 15px 0;
    h1{
      display: block;
      line-height: 140%;
      margin-bottom: 20px;
    }
    h2{
      display: block;
      line-height: 140%;
      margin-bottom: 10px;
    }
    p{
      .verdana(14px);
      color:#fff;
      line-height: 130%;
      margin: 5px 0 10px 0;
    }
    ul, ol{
      .verdana(14px);
      color:#fff;
      line-height: 130%;
      list-style: inside;
      li{
        display: list-item;
        margin: 4px 0;
      }
    }
    ul{list-style-type: disc;}
    ol{list-style-type: decimal;}
    strong{font-weight: bold;}
    a{
      color: @laranja;
      font-weight: bold;
      &:active, &:visited{color: @laranja;}
      &:hover{text-decoration: underline;}
    }
    img{
      max-width: 100%;
      margin: 10px auto;
      display: block;
    }
  }
  footer{
    border-top: 1px @laranja solid;
    padding-top: 10px;
    padding-bottom: 30px;
    ul{
      .inline;
      width: 21%;
      box-sizing: border-box;
      padding-right: 10px;
      &:first-child{width:16%;}
      @media @small{
        display: none;
        width: 100%;
        max-width: 440px;
        margin: 0 auto;
        &.coluna-contato{display: block;}
      }
      li{
        margin-bottom: 3px;
        display: block;
        max-width: 100%;
        a{
          line-height: 120%;
          .verdana(12px);
          color: @laranja;
          transition: color .3s ease-in;
          &.link-espetaculo{
            text-transform: uppercase;
          }
          &:hover{
            color:#fff;
          }
        }
        .contato{
          margin-top:5px;
          .verdana(10px);
          color: @laranja;
          line-height: 140%;
          a{
            font-weight: bold;
            color: #fff;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        .assinatura{
          margin-top:10px;
          .verdana(10px);
          color: @laranja;
          a{
            display: block;
            margin-top: 7px;
            .verdana(10px);
            &:hover{
              text-decoration: underline;
            }
          }
        }
        position: relative;
        .link-topo{
          position: absolute;
          right:0;
          top:0;
          color: @laranja;
          display: none;
          .baddog(20px);
          &:active, &:visited{color: @laranja;}
          @media @small{
            display: block;
          }
        }
      }
    }
  }
}
