@small	: ~"(min-width: 0px) and (max-width: 750px)";
@medium : ~"(min-width: 751px) and (max-width: 1099px)";
@large  : ~"(min-width: 1100px)";

@cinza: #333333;
@laranja: #F58634;
@amarelo: #F5B374;

.arial(@fsize:12px, @fweight:normal){
	font-family: 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.verdana(@fsize:12px, @fweight:normal){
	font-family: 'Verdana', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.baddog(@fsize:12px){
	font-family: 'baddogregular', sans-serif;
	font-size:@fsize;
}

.bankir(@fsize:12px){
	font-family: 'bankir-retroregular', sans-serif;
	font-size:@fsize;
}

.earwig(@fsize:12px){
	font-family: 'earwig_factoryregular', sans-serif;
	font-size:@fsize;
}

.centralizar{
	margin:0 auto;
	max-width: 1100px;
	width: 100%;
}

.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}
