.centralizar {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body {
  background: #000;
  font-size: 0;
}
body .conteudo {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
body .conteudo.internas {
  background: #333333;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -ms-flex-align: stretch;
      align-items: stretch;
}
body .conteudo.internas h1 {
  font-family: 'earwig_factoryregular', sans-serif;
  font-size: 40px;
  color: #F58634;
  line-height: 160%;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo {
    max-width: 440px;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo {
    max-width: 750px;
  }
}
@media (min-width: 1100px) {
  body .conteudo {
    max-width: 1100px;
    min-height: 1100px;
  }
}
body .conteudo nav {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  background: #333333;
  width: 18%;
  box-sizing: border-box;
  border-right: 1px #F58634 solid;
  border-bottom: 1px #F58634 solid;
  min-height: 570px;
  transition: left 0.1s ease-in;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo nav {
    width: 25%;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo nav {
    width: 100%;
    z-index: 99;
    text-align: center;
    border-right: none;
    left: 0;
    position: absolute;
  }
  body .conteudo nav.fechado {
    left: -100%;
  }
}
body .conteudo nav.internas {
  display: block;
  border-right: none;
  border-bottom: none;
}
body .conteudo nav #link-home {
  padding: 27px 0 30px 0;
  max-width: 80%;
  width: 100%;
  display: block;
  margin: 0 auto;
}
body .conteudo nav #link-home img {
  max-width: 100%;
}
body .conteudo nav ul {
  display: block;
  width: 100%;
}
body .conteudo nav ul li {
  display: block;
  width: 100%;
  margin-bottom: 1px;
}
body .conteudo nav ul li a {
  color: #fff;
  background: #000;
  width: 100%;
  text-align: center;
  min-height: 24px;
  line-height: 24px;
  transition: all 0.3s ease-in;
  display: block;
  font-family: 'baddogregular', sans-serif;
  font-size: 20px;
  position: relative;
}
body .conteudo nav ul li a:active,
body .conteudo nav ul li a:visited {
  color: #fff;
}
body .conteudo nav ul li a:hover,
body .conteudo nav ul li a.ativo {
  background: #F58634;
}
body .conteudo nav ul li a.menu-item-home {
  max-width: 100px;
  margin-left: 20%;
}
body .conteudo nav ul li a.menu-item-a-companhia {
  max-width: 120px;
  margin-left: 30%;
}
body .conteudo nav ul li a.menu-item-agenda {
  max-width: 80px;
  margin-left: 9%;
}
body .conteudo nav ul li a.menu-item-espetaculos {
  max-width: 110px;
  margin-left: 26%;
}
body .conteudo nav ul li a.menu-item-cursos-e-oficinas {
  max-width: 165px;
  margin-left: 4%;
}
body .conteudo nav ul li a.menu-item-eventos {
  max-width: 85px;
  margin-left: 16%;
}
body .conteudo nav ul li a.menu-item-centro-de-estudos {
  max-width: 150px;
  margin-left: 10%;
}
body .conteudo nav ul li a.menu-item-contacao-de-historias {
  max-width: 185px;
  margin-left: 1%;
}
body .conteudo nav ul li a.menu-item-contratacoes {
  max-width: 130px;
  margin-left: 10%;
}
body .conteudo nav ul li a.menu-item-galeria-de-fotos {
  max-width: 150px;
  margin-left: 5%;
}
body .conteudo nav ul li a.menu-item-videos {
  max-width: 78px;
  margin-left: 12%;
}
body .conteudo nav ul li a.menu-item-noticias {
  max-width: 98px;
  margin-left: 19%;
}
body .conteudo nav ul li a.menu-item-criticas-e-materias {
  max-width: 170px;
  margin-left: 5%;
}
body .conteudo nav ul li a.menu-item-fale-conosco {
  max-width: 115px;
  margin-left: 21%;
}
@media (min-width: 1100px) {
  body .conteudo nav ul li a:hover:after {
    position: absolute;
    left: 70%;
    bottom: 50%;
    content: "";
    width: 90px;
    height: 57px;
    background: url('../img/layout/menu-passaro.png') center center no-repeat;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo nav ul li a.menu-item-home,
  body .conteudo nav ul li a.menu-item-a-companhia,
  body .conteudo nav ul li a.menu-item-agenda,
  body .conteudo nav ul li a.menu-item-espetaculos,
  body .conteudo nav ul li a.menu-item-cursos-e-oficinas,
  body .conteudo nav ul li a.menu-item-eventos,
  body .conteudo nav ul li a.menu-item-centro-de-estudos,
  body .conteudo nav ul li a.menu-item-contacao-de-historias,
  body .conteudo nav ul li a.menu-item-contratacoes,
  body .conteudo nav ul li a.menu-item-galeria-de-fotos,
  body .conteudo nav ul li a.menu-item-videos,
  body .conteudo nav ul li a.menu-item-noticias,
  body .conteudo nav ul li a.menu-item-criticas-e-materias,
  body .conteudo nav ul li a.menu-item-fale-conosco {
    margin: 0  auto !important;
  }
}
body .conteudo nav .links-idiomas {
  margin: 10px 0;
  text-align: center;
}
body .conteudo nav .links-idiomas a img {
  margin: 0 2px;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo nav .links-idiomas {
    display: none;
  }
}
body .conteudo #controle-menu-mobile {
  display: none;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #controle-menu-mobile {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px #F58634 solid;
    padding: 10px;
    background: #333333;
  }
  body .conteudo #controle-menu-mobile .link-home-mobile {
    width: 30%;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
  }
  body .conteudo #controle-menu-mobile .link-home-mobile img {
    max-width: 100%;
  }
  body .conteudo #controle-menu-mobile .contato-e-controle {
    width: 70%;
    box-sizing: border-box;
    padding-left: 15px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
  }
  body .conteudo #controle-menu-mobile .contato-e-controle small {
    font-family: 'Verdana', sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #fff;
  }
  body .conteudo #controle-menu-mobile .contato-e-controle p {
    margin: 5px 0;
    line-height: 130%;
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
  }
  body .conteudo #controle-menu-mobile .contato-e-controle #menu-toggle {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    height: 22px;
    line-height: 22px;
    padding: 3px 13px;
    color: #fff;
    font-family: 'baddogregular', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    background: #F58634;
  }
}
body .conteudo #imagem-home {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 33%;
  background-size: cover;
  box-sizing: border-box;
  border-right: 1px #F58634 solid;
  border-bottom: 1px #F58634 solid;
  height: 570px;
  max-height: 100%;
  position: relative;
}
body .conteudo #imagem-home a {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 5px 10px;
  width: 60%;
  background: rgba(245, 134, 52, 0.6);
  color: #fff;
  text-align: center;
  line-height: 125%;
  text-transform: uppercase;
  transition: background 0.3s ease-in;
  font-family: 'baddogregular', sans-serif;
  font-size: 30px;
}
body .conteudo #imagem-home a:hover {
  background: #f58634;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo #imagem-home {
    width: 75%;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #imagem-home {
    width: 100%;
    height: auto;
  }
  body .conteudo #imagem-home a {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    -webkit-transform: none;
            transform: none;
  }
}
body .conteudo #espacamento-home-medium {
  display: none;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo #espacamento-home-medium {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    height: 570px;
    width: 25%;
    box-sizing: border-box;
    background: #333333;
    border-right: 1px #F58634 solid;
  }
}
body .conteudo #menu-espetaculos {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 49%;
  height: 570px;
  box-sizing: border-box;
  background: url('../img/layout/bg-espetaculos-home.png') #333333 center center no-repeat;
  background-size: cover;
  border-bottom: 1px #F58634 solid;
  max-height: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #menu-espetaculos {
    height: auto;
    margin-bottom: 20px;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo #menu-espetaculos {
    width: 75%;
    border-right: 1px #F58634 solid;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #menu-espetaculos {
    width: 100%;
  }
}
body .conteudo #menu-espetaculos h1 {
  width: 100%;
  display: block;
  color: #F58634;
  height: 90px;
  line-height: 130px;
  overflow: hidden;
  text-indent: 16px;
  font-family: 'earwig_factoryregular', sans-serif;
  font-size: 40px;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #menu-espetaculos h1 {
    height: 60px;
    line-height: 130%;
  }
}
body .conteudo #menu-espetaculos ul {
  padding: 5px;
}
body .conteudo #menu-espetaculos ul li a {
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  background: transparent;
  transition: all 0.3s ease-in;
  font-family: 'bankir-retroregular', sans-serif;
  font-size: 16px;
}
body .conteudo #menu-espetaculos ul li a:active,
body .conteudo #menu-espetaculos ul li a:visited {
  color: #fff;
}
body .conteudo #menu-espetaculos ul li a:hover {
  background: #F58634;
}
body .conteudo #menu-espetaculos #capas-espetaculos {
  position: absolute;
  right: 0;
  top: 55px;
  width: 260px;
  height: 390px;
  padding-top: 45px;
  padding-bottom: 23px;
  padding-left: 15px;
  background: url('../img/layout/bg-foto-espetaculos-home.png') center center no-repeat;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #menu-espetaculos #capas-espetaculos {
    display: none;
  }
}
body .conteudo #destaques-e-midia {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 60%;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo #destaques-e-midia {
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #destaques-e-midia {
    width: 100%;
  }
}
body .conteudo #destaques-e-midia .lista-destaques {
  box-sizing: border-box;
  padding: 15px 20px 15px 25px;
  background: #F58634;
  position: relative;
}
body .conteudo #destaques-e-midia .lista-destaques:after {
  display: block;
  content: "";
  border-top: 30px solid transparent;
  border-right: 30px #000 solid;
  position: absolute;
  bottom: 0;
  right: 0;
}
body .conteudo #destaques-e-midia .lista-destaques h1 {
  font-family: 'earwig_factoryregular', sans-serif;
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
}
body .conteudo #destaques-e-midia .lista-destaques .destaque {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 50%;
  box-sizing: border-box;
  padding-right: 30px;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 130%;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #destaques-e-midia .lista-destaques .destaque {
    width: 100%;
    margin-bottom: 15px;
  }
}
body .conteudo #destaques-e-midia .lista-destaques .destaque strong {
  display: block;
  font-weight: bold;
}
body .conteudo #destaques-e-midia .lista-destaques .destaque .ver-mais {
  transition: color 0.3s ease-in;
  margin-top: 10px;
  color: #fff;
  font-family: 'baddogregular', sans-serif;
  font-size: 18px;
}
body .conteudo #destaques-e-midia .lista-destaques .destaque:hover .ver-mais {
  color: #000;
}
body .conteudo #destaques-e-midia .lista-videos {
  padding-top: 15px;
  padding-left: 25px;
  margin-bottom: 20px;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #destaques-e-midia .lista-videos {
    display: none;
  }
}
body .conteudo #destaques-e-midia .lista-videos h1 {
  display: block;
  color: #F58634;
  font-family: 'earwig_factoryregular', sans-serif;
  font-size: 40px;
  position: relative;
}
body .conteudo #destaques-e-midia .lista-videos h1:after {
  display: block;
  content: "";
  height: 1px;
  background: #F58634;
  width: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 50%;
}
body .conteudo #destaques-e-midia .lista-videos h1 span {
  padding-right: 5px;
  background: #000;
  position: relative;
  z-index: 1;
}
body .conteudo #destaques-e-midia .lista-videos h1 a {
  margin-top: 6px;
  z-index: 1;
  float: right;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  color: #333333;
  background: #F58634;
  position: relative;
  font-family: 'baddogregular', sans-serif;
  font-size: 22px;
  transition: color 0.3s ease-in;
}
body .conteudo #destaques-e-midia .lista-videos h1 a:after {
  display: block;
  content: "";
  border-bottom: 10px solid transparent;
  border-right: 10px #000 solid;
  position: absolute;
  top: 0;
  right: 0;
}
body .conteudo #destaques-e-midia .lista-videos h1 a:hover {
  color: #fff;
}
body .conteudo #destaques-e-midia .lista-videos .video {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 33.333%;
  margin: 10px 0;
  color: #fff;
  box-sizing: border-box;
  padding: 0 0 0 5px;
  text-transform: uppercase;
  transition: color 0.3s ease-in;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
body .conteudo #destaques-e-midia .lista-videos .video img {
  border: 2px #F58634 solid;
  display: block;
  max-width: 98%;
  width: 100%;
  margin: 0 auto 12px auto;
}
body .conteudo #destaques-e-midia .lista-videos .video:hover {
  color: #F58634;
}
body .conteudo #destaques-e-midia .lista-galerias {
  padding-top: 15px;
  padding-left: 25px;
  margin-bottom: 20px;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #destaques-e-midia .lista-galerias {
    display: none;
  }
}
body .conteudo #destaques-e-midia .lista-galerias h1 {
  display: block;
  color: #F58634;
  font-family: 'earwig_factoryregular', sans-serif;
  font-size: 40px;
  position: relative;
}
body .conteudo #destaques-e-midia .lista-galerias h1:after {
  display: block;
  content: "";
  height: 1px;
  background: #F58634;
  width: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 50%;
}
body .conteudo #destaques-e-midia .lista-galerias h1 span {
  padding-right: 5px;
  background: #000;
  position: relative;
  z-index: 1;
}
body .conteudo #destaques-e-midia .lista-galerias h1 a {
  margin-top: 6px;
  z-index: 1;
  float: right;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  color: #333333;
  background: #F58634;
  position: relative;
  font-family: 'baddogregular', sans-serif;
  font-size: 22px;
  transition: color 0.3s ease-in;
}
body .conteudo #destaques-e-midia .lista-galerias h1 a:after {
  display: block;
  content: "";
  border-bottom: 10px solid transparent;
  border-right: 10px #000 solid;
  position: absolute;
  top: 0;
  right: 0;
}
body .conteudo #destaques-e-midia .lista-galerias h1 a:hover {
  color: #fff;
}
body .conteudo #destaques-e-midia .lista-galerias .imagem {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 33.333%;
  margin: 10px 0;
  color: #fff;
  box-sizing: border-box;
  padding: 0 0 0 5px;
  text-transform: uppercase;
  transition: color 0.3s ease-in;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
body .conteudo #destaques-e-midia .lista-galerias .imagem img {
  border: 2px #F58634 solid;
  display: block;
  max-width: 98%;
  width: 100%;
  margin: 0 auto 12px auto;
}
body .conteudo #destaques-e-midia .lista-galerias .imagem:hover {
  color: #F58634;
}
body .conteudo #agenda {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 40%;
  box-sizing: border-box;
  padding: 15px;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo #agenda {
    width: 60%;
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #agenda {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
body .conteudo #agenda .fundo-agenda {
  background: url('../img/layout/caderno-agenda.png') center center no-repeat;
  background-size: cover;
  min-height: 580px;
  padding-bottom: 20px;
}
body .conteudo #agenda .fundo-agenda h1 {
  color: #F58634;
  font-family: 'earwig_factoryregular', sans-serif;
  font-size: 45px;
  padding: 80px 0 0 25px;
}
body .conteudo #agenda .fundo-agenda p {
  color: #333333;
  font-family: 'baddogregular', sans-serif;
  font-size: 18px;
  padding: 10px 0 10px 25px;
}
body .conteudo #agenda .fundo-agenda ul {
  display: block;
  padding-left: 25px;
}
body .conteudo #agenda .fundo-agenda ul li.agenda {
  margin: 0 0 15px 0;
  display: block;
}
body .conteudo #agenda .fundo-agenda ul li.agenda .data {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 20%;
  background: #F58634;
  padding: 5px 0;
  text-align: center;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
body .conteudo #agenda .fundo-agenda ul li.agenda .data .dia,
body .conteudo #agenda .fundo-agenda ul li.agenda .data .mes,
body .conteudo #agenda .fundo-agenda ul li.agenda .data .ano {
  display: block;
  line-height: 130%;
}
body .conteudo #agenda .fundo-agenda ul li.agenda .data .dia {
  font-size: 20px;
}
body .conteudo #agenda .fundo-agenda ul li.agenda .data .mes {
  font-size: 18px;
  text-transform: lowercase;
}
body .conteudo #agenda .fundo-agenda ul li.agenda .data .ano {
  font-size: 10px;
}
body .conteudo #agenda .fundo-agenda ul li.agenda .info {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 80%;
  box-sizing: border-box;
  padding: 0 0 0 15px;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
body .conteudo #agenda .fundo-agenda ul li.agenda .info .horarios {
  font-weight: bold;
  line-height: 140%;
}
body .conteudo #agenda .fundo-agenda ul li.agenda .info .texto {
  line-height: 160%;
}
body .conteudo #agenda .fundo-agenda ul li.agenda .info .espetaculo span {
  font-style: italic;
}
body .conteudo #agenda .fundo-agenda ul li.agenda .info .espetaculo strong {
  font-weight: bold;
}
body .conteudo #agenda .fundo-agenda ul li.vazio {
  margin: 30px 0;
  text-align: center;
  font-family: 'Verdana', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
body .conteudo #agenda .fundo-agenda .link-agenda .disclaimer {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 15px;
  width: 50%;
  vertical-align: bottom;
  color: #333333;
  font-family: 'Verdana', sans-serif;
  font-size: 11px;
  font-weight: normal;
}
body .conteudo #agenda .fundo-agenda .link-agenda a {
  right: -15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 50%;
  box-sizing: border-box;
  vertical-align: bottom;
  color: #fff;
  background: #F58634;
  padding: 0 15px;
  position: relative;
  height: 30px;
  line-height: 30px;
  font-family: 'baddogregular', sans-serif;
  font-size: 18px;
  transition: color 0.3s ease-in;
}
body .conteudo #agenda .fundo-agenda .link-agenda a:after {
  display: block;
  content: "";
  border-bottom: 10px solid transparent;
  border-right: 10px #000 solid;
  position: absolute;
  top: 0;
  right: 0;
}
body .conteudo #agenda .fundo-agenda .link-agenda a:hover {
  color: #000;
}
body .conteudo #agenda .fundo-agenda .link-contato {
  width: 93%;
  box-sizing: border-box;
  padding: 12px 10px;
  display: block;
  margin: 15px auto 0 auto;
  background: url('../img/layout/pin-postit.png') #00CCFF 96% 5px no-repeat;
  color: #373435;
}
body .conteudo #agenda .fundo-agenda .link-contato p {
  transition: color 0.3s ease-in;
}
body .conteudo #agenda .fundo-agenda .link-contato .link-contato-titulo {
  padding: 2px 0;
  font-family: 'baddogregular', sans-serif;
  font-size: 30px;
}
body .conteudo #agenda .fundo-agenda .link-contato .link-contato-subtitulo {
  padding: 1px 0;
  font-family: 'baddogregular', sans-serif;
  font-size: 20px;
}
body .conteudo #agenda .fundo-agenda .link-contato:hover p {
  color: #fff;
}
body .conteudo #noticias-e-chamadas {
  border-top: 1px #F58634 solid;
  border-bottom: 1px #F58634 solid;
  padding: 15px;
  background: #333333;
}
body .conteudo #noticias-e-chamadas h1 {
  display: block;
  color: #fff;
  font-family: 'earwig_factoryregular', sans-serif;
  font-size: 40px;
  position: relative;
}
body .conteudo #noticias-e-chamadas h1:after {
  display: block;
  content: "";
  height: 1px;
  background: #fff;
  width: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 50%;
}
body .conteudo #noticias-e-chamadas h1 span {
  padding-right: 5px;
  background: #333333;
  position: relative;
  z-index: 1;
}
body .conteudo #noticias-e-chamadas h1 a {
  margin-top: 6px;
  z-index: 1;
  float: right;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  color: #333333;
  background: #fff;
  position: relative;
  font-family: 'baddogregular', sans-serif;
  font-size: 22px;
  transition: color 0.3s ease-in;
}
body .conteudo #noticias-e-chamadas h1 a:hover {
  color: #fff;
}
body .conteudo #noticias-e-chamadas h1 a:after {
  display: block;
  content: "";
  border-bottom: 10px solid transparent;
  border-right: 10px #333333 solid;
  position: absolute;
  top: 0;
  right: 0;
}
body .conteudo #noticias-e-chamadas h1 a:hover {
  color: #F58634;
}
body .conteudo #noticias-e-chamadas .lista-noticias a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  min-height: 210px;
  width: 33%;
  box-sizing: border-box;
  padding: 0 5px;
  margin: 20px 0 40px 0;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #noticias-e-chamadas .lista-noticias a {
    min-height: 90px;
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #noticias-e-chamadas .lista-noticias a {
    margin: 15px 0;
  }
}
body .conteudo #noticias-e-chamadas .lista-noticias a .titulo img {
  float: left;
  border: 2px #fff solid;
  max-width: 25%;
  margin-right: 10px;
  transition: all 0.3s ease-in;
}
body .conteudo #noticias-e-chamadas .lista-noticias a .titulo h2 {
  color: #fff;
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 0 0 0;
  transition: color 0.3s ease-in;
}
body .conteudo #noticias-e-chamadas .lista-noticias a .titulo .olho-mobile {
  display: none;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #noticias-e-chamadas .lista-noticias a .titulo .olho-mobile {
    margin-top: 10px;
    display: block;
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 140%;
    color: #fff;
  }
}
body .conteudo #noticias-e-chamadas .lista-noticias a .olho {
  padding-top: 10px;
  display: block;
  clear: both;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 140%;
  color: #fff;
  transition: color 0.3s ease-in;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #noticias-e-chamadas .lista-noticias a .olho {
    display: none;
  }
}
body .conteudo #noticias-e-chamadas .lista-noticias a .ver-mais {
  margin-top: 40px;
  text-align: right;
  color: #F58634;
  font-family: 'baddogregular', sans-serif;
  font-size: 22px;
}
body .conteudo #noticias-e-chamadas .lista-noticias a:hover .olho {
  color: #F58634;
}
body .conteudo #noticias-e-chamadas .lista-noticias a:hover .titulo h2 {
  color: #F58634;
}
body .conteudo #noticias-e-chamadas .lista-noticias a:hover .titulo img {
  border: 2px #F58634 solid;
}
body .conteudo #noticias-e-chamadas .lista-chamadas .chamada {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 33%;
  box-sizing: border-box;
  padding: 0 5px;
  margin: 20px 0 0 0;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #noticias-e-chamadas .lista-chamadas .chamada {
    width: 100%;
  }
}
body .conteudo #noticias-e-chamadas .lista-chamadas .chamada a {
  padding: 15px 20px;
  display: block;
  background: #F58634;
  position: relative;
}
body .conteudo #noticias-e-chamadas .lista-chamadas .chamada a:after,
body .conteudo #noticias-e-chamadas .lista-chamadas .chamada a:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}
body .conteudo #noticias-e-chamadas .lista-chamadas .chamada a:after {
  border-right: 15px #333333 solid;
  border-bottom: 15px solid transparent;
}
body .conteudo #noticias-e-chamadas .lista-chamadas .chamada a:before {
  border-left: 15px #F5B374 solid;
  border-top: 15px solid transparent;
}
body .conteudo #noticias-e-chamadas .lista-chamadas .chamada a .titulo {
  font-family: 'bankir-retroregular', sans-serif;
  font-size: 20px;
  color: #fff;
  line-height: 160%;
}
body .conteudo #noticias-e-chamadas .lista-chamadas .chamada a .olho {
  color: #333333;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin: 10px 0;
}
body .conteudo #noticias-e-chamadas .lista-chamadas .chamada a .ver-mais {
  text-align: right;
  color: #fff;
  transition: all 0.3s ease-in;
  font-family: 'baddogregular', sans-serif;
  font-size: 18px;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #noticias-e-chamadas .lista-chamadas .chamada a .ver-mais {
    text-align: left;
  }
}
body .conteudo #noticias-e-chamadas .lista-chamadas .chamada a:hover .ver-mais {
  color: #000;
}
body .conteudo #mensagens {
  padding: 30px 0;
}
body .conteudo #mensagens .form {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 30%;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #mensagens .form {
    width: 100%;
  }
}
body .conteudo #mensagens .form h1 {
  font-family: 'earwig_factoryregular', sans-serif;
  font-size: 24px;
  color: #F58634;
  margin-left: 7%;
}
body .conteudo #mensagens .form form {
  width: 95%;
  margin-left: 5%;
  padding-top: 10px;
}
body .conteudo #mensagens .form form input[type=text],
body .conteudo #mensagens .form form input[type=email],
body .conteudo #mensagens .form form textarea {
  display: block;
  width: 100%;
  background: #333333;
  margin: 0 0 8px 0;
  padding: 3px 5px;
  box-sizing: border-box;
  height: 22px;
  color: #F58634;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
body .conteudo #mensagens .form form input[type=text]::-webkit-input-placeholder,
body .conteudo #mensagens .form form input[type=email]::-webkit-input-placeholder,
body .conteudo #mensagens .form form textarea::-webkit-input-placeholder {
  color: #F58634;
}
body .conteudo #mensagens .form form input[type=text]:-moz-placeholder,
body .conteudo #mensagens .form form input[type=email]:-moz-placeholder,
body .conteudo #mensagens .form form textarea:-moz-placeholder {
  color: #F58634;
}
body .conteudo #mensagens .form form input[type=text]::-moz-placeholder,
body .conteudo #mensagens .form form input[type=email]::-moz-placeholder,
body .conteudo #mensagens .form form textarea::-moz-placeholder {
  color: #F58634;
}
body .conteudo #mensagens .form form input[type=text]:-ms-input-placeholder,
body .conteudo #mensagens .form form input[type=email]:-ms-input-placeholder,
body .conteudo #mensagens .form form textarea:-ms-input-placeholder {
  color: #F58634;
}
body .conteudo #mensagens .form form textarea {
  height: 90px;
  overflow: auto;
  resize: none;
}
body .conteudo #mensagens .form form input[type=submit] {
  margin-top: 15px;
  display: block;
  width: 100%;
  line-height: 24px;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: bold;
  background: #F58634;
  color: #333333;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
body .conteudo #mensagens .form form input[type=submit]:hover {
  color: #fff;
}
body .conteudo #mensagens .form a {
  margin-top: 50px;
  float: right;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #mensagens .form a {
    float: none;
    margin-top: 0;
  }
  body .conteudo #mensagens .form a img {
    margin: 40px auto 0 auto;
    display: block;
  }
}
body .conteudo #mensagens .lista-mensagens {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 70%;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #mensagens .lista-mensagens {
    display: none;
  }
}
body .conteudo #mensagens .lista-mensagens h1 {
  font-family: 'baddogregular', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  margin-left: 8%;
}
body .conteudo #mensagens .lista-mensagens ul {
  margin-left: 8%;
  margin-top: 15px;
  width: 90%;
}
body .conteudo #mensagens .lista-mensagens ul li {
  display: block;
  width: 100%;
  padding: 15px 0;
  border-top: 1px #F58634 solid;
}
body .conteudo #mensagens .lista-mensagens ul li:last-child {
  border-bottom: 1px #F58634 solid;
}
body .conteudo #mensagens .lista-mensagens ul li p {
  color: #fff;
  font-family: 'Verdana', sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 130%;
  margin-bottom: 10px;
}
body .conteudo #mensagens .lista-mensagens ul li .assinatura {
  color: #fff;
  font-family: 'Verdana', sans-serif;
  font-size: 10px;
  font-weight: bold;
}
body .conteudo #coluna-texto {
  width: 60%;
  background: #000;
  box-sizing: border-box;
  padding: 40px 50px;
  border-right: 1px #F58634 solid;
  border-left: 1px #F58634 solid;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #coluna-texto {
    width: 100%;
    padding: 20px 25px;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo #coluna-texto {
    width: 75%;
  }
}
body .conteudo #coluna-texto .contem-link-topo {
  border-top: 1px #F58634 solid;
  padding-top: 15px;
}
body .conteudo #coluna-texto .contem-link-topo a {
  color: #F58634;
  transition: all 0.3s ease-in;
  font-family: 'baddogregular', sans-serif;
  font-size: 20px;
}
body .conteudo #coluna-texto .contem-link-topo a:active,
body .conteudo #coluna-texto .contem-link-topo a:visited {
  color: #F58634;
}
body .conteudo #coluna-texto .contem-link-topo a:hover {
  color: #fff;
}
body .conteudo #coluna-texto .contem-link-topo a.link-topo {
  float: right;
}
body .conteudo #coluna-texto .desktop-hidden {
  display: none;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #coluna-texto .desktop-hidden {
    display: block;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo #coluna-texto .desktop-hidden {
    display: block;
  }
}
body .conteudo #coluna-texto h2 {
  color: #F58634;
  line-height: 160%;
  margin: 40px 0 20px 0;
  font-family: 'bankir-retroregular', sans-serif;
  font-size: 24px;
}
body .conteudo #coluna-texto .link-oficina {
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #F58634;
  display: block;
  margin: 15px 0;
  transition: color 0.3s ease-in;
}
body .conteudo #coluna-texto .link-oficina:active,
body .conteudo #coluna-texto .link-oficina:visited {
  color: #F58634;
}
body .conteudo #coluna-texto .link-oficina:hover {
  color: #fff;
}
body .conteudo #coluna-galerias {
  width: 22%;
  background: #000;
  box-sizing: border-box;
  padding: 40px 0;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #coluna-galerias {
    display: none;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo #coluna-galerias {
    display: none;
  }
}
body .conteudo #coluna-galerias .lista-mais-noticias a {
  padding: 15px;
  display: block;
}
body .conteudo #coluna-galerias .lista-mais-noticias a .data {
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  line-height: 140%;
  transition: color 0.3s ease-in;
}
body .conteudo #coluna-galerias .lista-mais-noticias a .titulo {
  font-family: 'bankir-retroregular', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 160%;
  transition: color 0.3s ease-in;
}
body .conteudo #coluna-galerias .lista-mais-noticias a:hover .data,
body .conteudo #coluna-galerias .lista-mais-noticias a:hover .titulo {
  color: #F58634;
}
body .conteudo #coluna-galerias #texto-ficha-tecnica {
  position: relative;
  background: #F58634;
  padding: 15px 0 15px 10%;
  margin-top: 40px;
}
body .conteudo #coluna-galerias #texto-ficha-tecnica h4 {
  color: #fff;
  line-height: 150%;
  margin-bottom: 10px;
  font-family: 'bankir-retroregular', sans-serif;
  font-size: 24px;
}
body .conteudo #coluna-galerias #texto-ficha-tecnica:after,
body .conteudo #coluna-galerias #texto-ficha-tecnica:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}
body .conteudo #coluna-galerias #texto-ficha-tecnica:after {
  border-right: 15px #000 solid;
  border-bottom: 15px solid transparent;
}
body .conteudo #coluna-galerias #texto-ficha-tecnica:before {
  border-left: 15px #F5B374 solid;
  border-top: 15px solid transparent;
}
body .conteudo #coluna-galerias #texto-ficha-tecnica p {
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  line-height: 140%;
}
body .conteudo h3 {
  height: 30px;
  line-height: 30px;
  background: #F58634;
  color: #fff;
  padding-left: 10%;
  font-family: 'baddogregular', sans-serif;
  font-size: 24px;
  position: relative;
}
body .conteudo h3:after {
  display: block;
  content: "";
  border-bottom: 10px solid transparent;
  border-right: 10px #000 solid;
  position: absolute;
  top: 0;
  right: 0;
}
body .conteudo #coluna-galerias .lista-imagens,
body .conteudo #coluna-galerias .lista-videos,
body .conteudo #coluna-texto .lista-imagens,
body .conteudo #coluna-texto .lista-videos {
  padding: 10px 0 0 10%;
  margin-bottom: 30px;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #coluna-galerias .lista-imagens,
  body .conteudo #coluna-galerias .lista-videos,
  body .conteudo #coluna-texto .lista-imagens,
  body .conteudo #coluna-texto .lista-videos {
    padding: 10px 0;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo #coluna-galerias .lista-imagens,
  body .conteudo #coluna-galerias .lista-videos,
  body .conteudo #coluna-texto .lista-imagens,
  body .conteudo #coluna-texto .lista-videos {
    padding: 10px 0;
  }
}
body .conteudo #coluna-galerias .lista-imagens a,
body .conteudo #coluna-galerias .lista-videos a,
body .conteudo #coluna-texto .lista-imagens a,
body .conteudo #coluna-texto .lista-videos a {
  display: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 5px;
  border: 2px #fff solid;
  transition: all 0.3s ease-in;
  max-width: 40%;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #coluna-galerias .lista-imagens a,
  body .conteudo #coluna-galerias .lista-videos a,
  body .conteudo #coluna-texto .lista-imagens a,
  body .conteudo #coluna-texto .lista-videos a {
    max-width: 20%;
  }
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo #coluna-galerias .lista-imagens a,
  body .conteudo #coluna-galerias .lista-videos a,
  body .conteudo #coluna-texto .lista-imagens a,
  body .conteudo #coluna-texto .lista-videos a {
    max-width: 20%;
  }
}
body .conteudo #coluna-galerias .lista-imagens a img,
body .conteudo #coluna-galerias .lista-videos a img,
body .conteudo #coluna-texto .lista-imagens a img,
body .conteudo #coluna-texto .lista-videos a img {
  max-width: 100%;
}
body .conteudo #coluna-galerias .lista-imagens a:hover,
body .conteudo #coluna-galerias .lista-videos a:hover,
body .conteudo #coluna-texto .lista-imagens a:hover,
body .conteudo #coluna-texto .lista-videos a:hover {
  border: 2px #F58634 solid;
}
body .conteudo #coluna-agenda {
  width: 82%;
  background: #000;
  box-sizing: border-box;
  padding: 40px 50px;
  border-right: 1px #F58634 solid;
  border-left: 1px #F58634 solid;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo #coluna-agenda {
    width: 75%;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #coluna-agenda {
    width: 100%;
  }
}
body .conteudo p.destaque {
  color: #fff;
  margin: 20px 0;
  font-family: 'baddogregular', sans-serif;
  font-size: 24px;
}
body .conteudo .lista-agenda-internas .item-agenda {
  padding: 20px 0;
  border-bottom: 1px #F58634 solid;
}
body .conteudo .lista-agenda-internas .item-agenda:last-child {
  border-bottom: none;
}
body .conteudo .lista-agenda-internas .item-agenda .data {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 10%;
  background: #F58634;
  padding: 5px 0;
  text-align: center;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
body .conteudo .lista-agenda-internas .item-agenda .data .dia,
body .conteudo .lista-agenda-internas .item-agenda .data .mes,
body .conteudo .lista-agenda-internas .item-agenda .data .ano {
  display: block;
  line-height: 130%;
}
body .conteudo .lista-agenda-internas .item-agenda .data .dia {
  font-size: 20px;
  line-height: 80%;
}
body .conteudo .lista-agenda-internas .item-agenda .data .mes {
  font-size: 18px;
  text-transform: lowercase;
}
body .conteudo .lista-agenda-internas .item-agenda .data .ano {
  font-size: 10px;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo .lista-agenda-internas .item-agenda .data {
    width: 100%;
    margin-bottom: 5px;
  }
  body .conteudo .lista-agenda-internas .item-agenda .data .dia,
  body .conteudo .lista-agenda-internas .item-agenda .data .mes,
  body .conteudo .lista-agenda-internas .item-agenda .data .ano {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    font-size: 20px;
    line-height: 130%;
    margin: 0 5px;
  }
}
body .conteudo .lista-agenda-internas .item-agenda .capa {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 15%;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo .lista-agenda-internas .item-agenda .capa {
    width: 25%;
  }
}
body .conteudo .lista-agenda-internas .item-agenda .capa img {
  max-width: 100%;
}
body .conteudo .lista-agenda-internas .item-agenda .info {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 75%;
  box-sizing: border-box;
  padding: 0 0 0 15px;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
}
body .conteudo .lista-agenda-internas .item-agenda .info .horarios {
  font-weight: bold;
  line-height: 140%;
}
body .conteudo .lista-agenda-internas .item-agenda .info .texto {
  line-height: 160%;
}
body .conteudo .lista-agenda-internas .item-agenda .info .espetaculo span {
  font-style: italic;
  font-family: 'Verdana', sans-serif;
  font-size: 10px;
  font-weight: normal;
}
body .conteudo .lista-agenda-internas .item-agenda .info .espetaculo strong {
  display: block;
  color: #F58634;
  margin: 20px 0;
  font-family: 'bankir-retroregular', sans-serif;
  font-size: 36px;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo .lista-agenda-internas .item-agenda .info .espetaculo strong {
    line-height: 140%;
    margin: 5px 0;
  }
}
body .conteudo .espetaculos-internas {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 82%;
  background: #000;
  box-sizing: border-box;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo .espetaculos-internas {
    width: 75%;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo .espetaculos-internas {
    width: 100%;
  }
}
body .conteudo .espetaculos-internas #menu-espetaculos {
  width: 60%;
  background: #000;
  border-right: 1px #F58634 solid;
  border-left: 1px #F58634 solid;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo .espetaculos-internas #menu-espetaculos {
    width: 100%;
    border: none;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo .espetaculos-internas #menu-espetaculos {
    width: 100%;
    border: none;
  }
}
body .conteudo .espetaculos-internas #menu-espetaculos #capas-espetaculos {
  top: 85px;
}
body .conteudo .coluna-esquerda-espetaculos {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 15%;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo .coluna-esquerda-espetaculos {
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo .coluna-esquerda-espetaculos {
    width: 100%;
  }
}
body .conteudo .coluna-esquerda-espetaculos p {
  padding: 20px 15px 0 0;
  color: #F58634;
  text-align: right;
  font-family: 'baddogregular', sans-serif;
  font-size: 16px;
}
body .conteudo .coluna-esquerda-espetaculos p img {
  display: block;
  float: right;
  margin-top: 4px;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo .coluna-esquerda-espetaculos p {
    padding-left: 5%;
    text-align: left;
  }
  body .conteudo .coluna-esquerda-espetaculos p br {
    display: none;
  }
  body .conteudo .coluna-esquerda-espetaculos p img {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo .coluna-esquerda-espetaculos p {
    padding-left: 5%;
    text-align: left;
  }
  body .conteudo .coluna-esquerda-espetaculos p br {
    display: none;
  }
  body .conteudo .coluna-esquerda-espetaculos p img {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
  }
}
body .conteudo .espetaculos-internas-detalhes {
  padding: 40px 15px 40px 50px !important;
}
body .conteudo .espetaculos-internas-detalhes .capa-espetaculo {
  float: right;
  width: 260px;
  height: 390px;
  margin-top: 20px;
  margin-right: -15px;
  padding-top: 45px;
  padding-bottom: 23px;
  padding-left: 15px;
  background: url('../img/layout/bg-foto-espetaculos-home.png') center center no-repeat;
}
body .conteudo .espetaculos-internas-detalhes .imprensa-comenta {
  padding: 20px 0;
  margin-top: 15px;
  border-top: 1px #F58634 solid;
  border-bottom: 1px #F58634 solid;
}
body .conteudo .espetaculos-internas-detalhes .imprensa-comenta h1 {
  font-family: 'baddogregular', sans-serif;
  font-size: 24px;
  color: #F58634;
}
body .conteudo .espetaculos-internas-detalhes .imprensa-comenta .comentario-imprensa {
  margin: 20px 0;
}
body .conteudo .espetaculos-internas-detalhes .imprensa-comenta .comentario-imprensa p {
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  line-height: 140%;
}
body .conteudo .espetaculos-internas-detalhes .imprensa-comenta .comentario-imprensa p.autor {
  font-weight: bold;
}
body .conteudo .coluna-direita-espetaculos {
  width: 25%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding-top: 20%;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo .coluna-direita-espetaculos {
    padding: 20px 0 60px 0;
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo .coluna-direita-espetaculos {
    padding: 20px 0 60px 0;
    width: 100%;
  }
}
body .conteudo .coluna-direita-espetaculos .link-agenda {
  padding-left: 10%;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo .coluna-direita-espetaculos .link-agenda {
    padding-left: 15px;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo .coluna-direita-espetaculos .link-agenda {
    padding-left: 15px;
  }
}
body .conteudo .coluna-direita-espetaculos .link-agenda h2 {
  line-height: 140%;
  color: #F58634;
  font-family: 'bankir-retroregular', sans-serif;
  font-size: 18px;
}
body .conteudo .coluna-direita-espetaculos .link-agenda p {
  line-height: 140%;
  color: #fff;
  margin: 6px 0;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
body .conteudo .coluna-direita-espetaculos .link-agenda p.destaque {
  color: #F58634;
  font-family: 'baddogregular', sans-serif;
  font-size: 16px;
}
body .conteudo .coluna-direita-espetaculos .link-agenda a {
  font-family: 'baddogregular', sans-serif;
  font-size: 22px;
  background: #F58634;
  padding: 0 15px;
  text-align: center;
  position: relative;
  color: #fff;
  transition: color 0.3s ease-in;
}
body .conteudo .coluna-direita-espetaculos .link-agenda a:after {
  display: block;
  content: "";
  border-bottom: 8px solid transparent;
  border-right: 8px #000 solid;
  position: absolute;
  top: 0;
  right: 0;
}
body .conteudo .coluna-direita-espetaculos .link-agenda a:active,
body .conteudo .coluna-direita-espetaculos .link-agenda a:visited {
  color: #fff;
}
body .conteudo .coluna-direita-espetaculos .link-agenda a:hover {
  color: #000;
}
body .conteudo .lista-galerias {
  padding: 20px 0;
}
body .conteudo .lista-galerias .galeria {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 25%;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 15px;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo .lista-galerias .galeria {
    width: 50%;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo .lista-galerias .galeria {
    width: 100%;
  }
}
body .conteudo .lista-galerias .galeria a {
  display: block;
}
body .conteudo .lista-galerias .galeria a img {
  max-width: 100%;
  border: 2px #F58634 solid;
  margin-bottom: 10px;
  transition: all 0.3s ease-in;
}
body .conteudo .lista-galerias .galeria a p {
  transition: all 0.3s ease-in;
  color: #F58634;
  line-height: 150%;
  font-family: 'bankir-retroregular', sans-serif;
  font-size: 18px;
}
body .conteudo .lista-galerias .galeria a:hover img {
  border-color: #fff;
}
body .conteudo .lista-galerias .galeria a:hover p {
  color: #fff;
}
body .conteudo .lista-videos {
  padding: 20px 0;
}
body .conteudo .lista-videos .video {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 25%;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 15px;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo .lista-videos .video {
    width: 50%;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo .lista-videos .video {
    width: 100%;
  }
}
body .conteudo .lista-videos .video a {
  display: block;
}
body .conteudo .lista-videos .video a img {
  max-width: 100%;
  border: 2px #F58634 solid;
  margin-bottom: 10px;
  transition: all 0.3s ease-in;
}
body .conteudo .lista-videos .video a p {
  transition: all 0.3s ease-in;
  color: #F58634;
  line-height: 150%;
  font-family: 'bankir-retroregular', sans-serif;
  font-size: 18px;
}
body .conteudo .lista-videos .video a:hover img {
  border-color: #fff;
}
body .conteudo .lista-videos .video a:hover p {
  color: #fff;
}
body .conteudo #coluna-videos {
  width: 82%;
  background: #000;
  box-sizing: border-box;
  padding: 40px 50px;
  border-right: 1px #F58634 solid;
  border-left: 1px #F58634 solid;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo #coluna-videos {
    width: 75%;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo #coluna-videos {
    width: 100%;
  }
}
body .conteudo #coluna-videos h2 {
  font-family: 'bankir-retroregular', sans-serif;
  font-size: 24px;
  color: #F58634;
  line-height: 160%;
  margin: 20px 0;
}
body .conteudo #coluna-videos iframe {
  border: 2px #F58634 solid;
  margin: 15px 0;
}
body .conteudo #coluna-videos .btn-voltar {
  margin-top: 30px;
  display: block;
  transition: all 0.3s ease-in;
  color: #F58634;
  font-family: 'baddogregular', sans-serif;
  font-size: 20px;
}
body .conteudo #coluna-videos .btn-voltar:active,
body .conteudo #coluna-videos .btn-voltar:visited {
  color: #F58634;
}
body .conteudo #coluna-videos .btn-voltar:hover {
  color: #fff;
}
body .conteudo .lista-noticias-internas {
  margin: 20px 0;
}
body .conteudo .lista-noticias-internas .noticia {
  display: block;
  margin-bottom: 20px;
  border-top: 1px #F58634 solid;
}
body .conteudo .lista-noticias-internas .noticia a {
  display: block;
  transition: all 0.3s ease-in;
}
body .conteudo .lista-noticias-internas .noticia a img {
  width: 15%;
  box-sizing: border-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  border: 1px #F58634 solid;
}
body .conteudo .lista-noticias-internas .noticia a .info {
  width: 85%;
  box-sizing: border-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .conteudo .lista-noticias-internas .noticia a .info .data {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  background: #F58634;
  color: #333333;
  font-family: 'Verdana', sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
}
body .conteudo .lista-noticias-internas .noticia a .info .titulo {
  line-height: 160%;
  transition: all 0.3s ease-in;
  padding: 10px 0 0 13px;
  color: #F58634;
  font-family: 'bankir-retroregular', sans-serif;
  font-size: 24px;
}
body .conteudo .lista-noticias-internas .noticia a .info .olho {
  padding: 5px 0 0 13px;
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  line-height: 140%;
}
body .conteudo .lista-noticias-internas .noticia a:hover {
  background: #F58634;
}
body .conteudo .lista-noticias-internas .noticia a:hover .titulo {
  color: #fff;
}
body .conteudo .noticia-topo {
  display: block;
  margin-top: 20px;
  border-top: 1px #F58634 solid;
}
body .conteudo .noticia-topo img {
  width: 25%;
  box-sizing: border-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  border: 1px #F58634 solid;
}
body .conteudo .noticia-topo .info {
  width: 75%;
  box-sizing: border-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .conteudo .noticia-topo .info .data {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  background: #F58634;
  color: #333333;
  font-family: 'Verdana', sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
}
body .conteudo .noticia-topo .info .titulo {
  transition: all 0.3s ease-in;
  padding: 10px 0 0 13px;
  color: #F58634;
  line-height: 160%;
  font-family: 'bankir-retroregular', sans-serif;
  font-size: 24px;
}
body .conteudo .noticia-topo .info .olho {
  padding: 5px 0 0 13px;
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  line-height: 140%;
}
body .conteudo .contem-links-noticias {
  border-top: 1px #F58634 solid;
  padding-top: 15px;
}
body .conteudo .contem-links-noticias a {
  font-family: 'baddogregular', sans-serif;
  font-size: 20px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  color: #F58634;
  transition: all 0.3s ease-in;
  width: 33%;
}
body .conteudo .contem-links-noticias a:active,
body .conteudo .contem-links-noticias a:visited {
  color: #F58634;
}
body .conteudo .contem-links-noticias a:hover {
  color: #fff;
}
body .conteudo .contem-links-noticias a:nth-child(2) {
  text-align: center;
}
body .conteudo .contem-links-noticias a:nth-child(3) {
  text-align: right;
}
body .conteudo .lista-criticas {
  margin: 20px 0;
}
body .conteudo .lista-criticas .critica {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 25%;
  margin-bottom: 30px;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo .lista-criticas .critica {
    width: 50%;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo .lista-criticas .critica {
    width: 100%;
  }
}
body .conteudo .lista-criticas .critica a {
  display: block;
  padding: 0 10px;
}
body .conteudo .lista-criticas .critica a img {
  max-width: 100%;
  border: 2px #F58634 solid;
  margin-bottom: 10px;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo .lista-criticas .critica a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
body .conteudo .lista-criticas .critica a p {
  transition: all 0.3s ease-in;
  color: #fff;
  font-family: 'bankir-retroregular', sans-serif;
  font-size: 14px;
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo .lista-criticas .critica a p {
    text-align: center;
  }
}
body .conteudo .lista-criticas .critica a:hover p {
  color: #F58634;
}
body .conteudo .contato-info {
  width: 38%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-family: 'Verdana', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  box-sizing: border-box;
  padding-top: 40px;
  line-height: 150%;
}
body .conteudo .contato-info a {
  font-weight: bold;
  color: #fff;
  display: block;
  margin-bottom: 15px;
}
body .conteudo .contato-info a:hover {
  text-decoration: underline;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo .contato-info {
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo .contato-info {
    width: 100%;
  }
}
body .conteudo .contato-form {
  width: 62%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  box-sizing: border-box;
  padding: 40px 10px 0 10px;
}
@media (min-width: 751px) and (max-width: 1099px) {
  body .conteudo .contato-form {
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  body .conteudo .contato-form {
    width: 100%;
  }
}
body .conteudo .contato-form form input[type=text],
body .conteudo .contato-form form input[type=email],
body .conteudo .contato-form form textarea {
  border: 1px #F58634 solid;
  display: block;
  width: 100%;
  background: #000;
  margin: 0 0 8px 0;
  padding: 3px 5px;
  box-sizing: border-box;
  height: 22px;
  color: #fff;
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
body .conteudo .contato-form form textarea {
  height: 130px;
  overflow: auto;
  resize: none;
}
body .conteudo .contato-form form input[type=submit] {
  margin-top: 5px;
  display: block;
  width: 100%;
  line-height: 24px;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: bold;
  background: #000;
  border: 1px #F58634 solid;
  color: #F58634;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
body .conteudo .contato-form form input[type=submit]:hover {
  color: #fff;
  background: #F58634;
}
body .cke {
  padding: 15px 0;
}
body .cke h1 {
  display: block;
  line-height: 140%;
  margin-bottom: 20px;
}
body .cke h2 {
  display: block;
  line-height: 140%;
  margin-bottom: 10px;
}
body .cke p {
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  line-height: 130%;
  margin: 5px 0 10px 0;
}
body .cke ul,
body .cke ol {
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  line-height: 130%;
  list-style: inside;
}
body .cke ul li,
body .cke ol li {
  display: list-item;
  margin: 4px 0;
}
body .cke ul {
  list-style-type: disc;
}
body .cke ol {
  list-style-type: decimal;
}
body .cke strong {
  font-weight: bold;
}
body .cke a {
  color: #F58634;
  font-weight: bold;
}
body .cke a:active,
body .cke a:visited {
  color: #F58634;
}
body .cke a:hover {
  text-decoration: underline;
}
body .cke img {
  max-width: 100%;
  margin: 10px auto;
  display: block;
}
body footer {
  border-top: 1px #F58634 solid;
  padding-top: 10px;
  padding-bottom: 30px;
}
body footer ul {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 21%;
  box-sizing: border-box;
  padding-right: 10px;
}
body footer ul:first-child {
  width: 16%;
}
@media (min-width: 0px) and (max-width: 750px) {
  body footer ul {
    display: none;
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
  }
  body footer ul.coluna-contato {
    display: block;
  }
}
body footer ul li {
  margin-bottom: 3px;
  display: block;
  max-width: 100%;
  position: relative;
}
body footer ul li a {
  line-height: 120%;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #F58634;
  transition: color 0.3s ease-in;
}
body footer ul li a.link-espetaculo {
  text-transform: uppercase;
}
body footer ul li a:hover {
  color: #fff;
}
body footer ul li .contato {
  margin-top: 5px;
  font-family: 'Verdana', sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #F58634;
  line-height: 140%;
}
body footer ul li .contato a {
  font-weight: bold;
  color: #fff;
}
body footer ul li .contato a:hover {
  text-decoration: underline;
}
body footer ul li .assinatura {
  margin-top: 10px;
  font-family: 'Verdana', sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #F58634;
}
body footer ul li .assinatura a {
  display: block;
  margin-top: 7px;
  font-family: 'Verdana', sans-serif;
  font-size: 10px;
  font-weight: normal;
}
body footer ul li .assinatura a:hover {
  text-decoration: underline;
}
body footer ul li .link-topo {
  position: absolute;
  right: 0;
  top: 0;
  color: #F58634;
  display: none;
  font-family: 'baddogregular', sans-serif;
  font-size: 20px;
}
body footer ul li .link-topo:active,
body footer ul li .link-topo:visited {
  color: #F58634;
}
@media (min-width: 0px) and (max-width: 750px) {
  body footer ul li .link-topo {
    display: block;
  }
}
